body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #F3EEEA;

  font-family: "Newsreader", serif !important;

  cursor: default;
}
.square {
  width: 98vw;
  height: 96vh;
  border: 1px solid #776B5D;

  position: fixed;
  z-index: -10;
}
.web-developer {
  font-size: 35vh;
  text-align: right;
  line-height: 20vh;
  font-weight: 700;

  font-family: "Noto Sans", serif;
  color: #EBE3D5;

  position: fixed;
  bottom: 4vh;
  z-index: -12;
}

.bingle-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;

  scroll-behavior: smooth;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: right;
}
.bg-img-bingle {
  position: absolute;
  right: -15vh;
  bottom: -11vh;
  opacity: 0.6;
  z-index: -11;
}

.bingle-content {
  /* border: 1px solid green; */
  width: 90vw;
  height: 95vh;
  color: #776B5D;
  z-index: 10;

  text-align-last: right;

  overflow-y: scroll;

  /* remove scroll bar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}
.bingle-container::-webkit-scrollbar {
  display: none;
}
.bingle-content p {
  font-size: 21px;
  font-weight: 300;
}
.bingle-title {
  font-size: 8vh;
  font-weight: 500;
  padding: 5vh 2vh 3vh 0;
  border-bottom: 2px solid #776B5D;
  margin-bottom: 4vh;
}

/* language icons */
.language-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.language-icons {
  display: flex;
  align-items: center;
}
.language-icons img {
  margin-right: 1vh;
}
.language-icons img:first-child {
  margin: 0 0 0 -1vh;
  width: 80px;
}
.language-icons img:nth-child(2) {
  margin-left: 1vh;
  width: 100px;
}
.language-icons img:nth-child(3) {
  margin-left: 1vh;
  width: 70px;
}
.language-icons img:nth-child(4) {
  width: 60px;
  margin-left: 1vh;
}
.language-icons img:nth-child(5) {
  width: 120px;
}
.language-icons img:last-child {
  width: 120px;
  margin-left: -1vh;
  margin-right: 2vh;
}


.bingle-desc {
  font-weight: 300;
  margin: 2vh 2vh 2vh 0;
  white-space: pre-wrap;
  font-size: 20px;
}
.langugae-div .bingle-desc {
  margin: 0 2vh 0 0;
}

.problem-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.problem-div p:nth-child(2) {
  white-space: pre-wrap;
  line-height: 5vh;
}

.address {
  text-decoration: none;
  font-size: 2vh;
  font-weight: 300;
  border: 1.5px solid #776B5D;
  padding: 1vh 2vh;
  border-radius: 25px;
  transition: 0.2s;
  color:  #776B5D;
  margin-right: 1vh;
}
.address:visited {
  color: #776B5D;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 5vh 1.5vh 8vh 0;
}
.bingle-card-desc {
  font-size: 1.5vh !important;
  margin-top: -2vh;
  margin-bottom: 8vh;
}
.github-icon img {
  width: 40px;
  opacity: 0.6;
}
.notice {
  font-size: 20px !important;
  margin-top: 5px;
}

.address:hover {
  background-color: #776B5D;
  color:#F3EEEA;
}
.github-icon img:hover {
  opacity: 1;
}

.top-button {
  z-index: 100;
  position: absolute;
  bottom: 4vh;
  right: 3.5vh;

  font-size: 3vh;
  padding: 1vh 2vh;
  border-radius: 25px;
  background-color: #776B5D;
  color: #EBE3D5;
  border: 1px solid #776B5D;

  transition: 0.2s;
}
.top-button:hover {
  background-color: #EBE3D5;
  color: #776B5D;
  border: 1px solid #776B5D;
}

/* bold */
.bold {
  font-weight: 500 !important;
}

.bingle-top-desc {
  margin-bottom: 4vh;
}

/* bingle role */
.bingle-role {
  background-color: rgba(119, 107, 93, 0.7);
  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}
.bingle-role img {
  width: 100%;
}
.bingle-role p {
  color: #F3EEEA;
}

/* bingle works */
.bingle-works img {
  width: 45%;
}
.bingle-works {
  margin: 4vh 0;
}

/* bingle grid */
.bingle-grid {
  display: grid;
  gap: 2vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr auto;
  justify-content: center;
  text-align: center;
  place-items: center;
  margin-bottom: 1vh;

  width: 70%;
  height: 60%;
}
.quit-grid img {
  grid-row: 2;
}
.bingle-grid > img {
  grid-column: span 2; 
}