body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #F3EEEA;

  font-family: "Newsreader", serif !important;

  cursor: default;
}
.square {
  width: 98vw;
  height: 96vh;
  border: 1px solid #776B5D;

  position: fixed;
  z-index: -10;
}
.web-developer {
  font-size: 35vh;
  text-align: right;
  line-height: 20vh;
  font-weight: 700;

  font-family: "Noto Sans", serif;
  color: #EBE3D5;

  position: fixed;
  bottom: 4vh;
  z-index: -12;
}

.book-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;

  scroll-behavior: smooth;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: right;
}
.bg-img-book {
  position: absolute;
  right: -15vh;
  bottom: -11vh;
  opacity: 0.6;
  z-index: -11;
}

.book-content {
  /* border: 1px solid green; */
  width: 90vw;
  height: 95vh;
  color: #776B5D;
  z-index: 10;

  text-align-last: right;

  overflow-y: scroll;

  /* remove scroll bar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}
.book-container::-webkit-scrollbar {
  display: none;
}
.book-content p {
  font-size: 21px;
  font-weight: 300;
}

/* project title */
.book-title-container {
  border-bottom: 2px solid #776B5D;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2vh;
}
.book-title-container > img {
  width: 7.5vh;
  margin-right: 1vh;
}
.book-title {
  font-size: 8vh;
  font-weight: 500;
  padding: 5vh 0 3vh 0;
  display: inline-block;
}
.title-github img {
  width: 5vh;
  margin-left: 2vh;
  margin-top: 2vh;
  opacity: 0.6;
}
.title-github:hover img {
  opacity: 1;
}

/* language icons */
.language-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.language-icons {
  display: flex;
  align-items: center;
}
.language-icons img {
  margin-right: 1vh;
}
.language-icons img:first-child {
  width: 80px;
  margin: 0 0 0 -1vh;
}
.language-icons img:nth-child(2) {
  width: 80px;
  margin-left: 1vh;
}
.language-icons img:nth-child(3) {
  width: 60px;
}
.white-blob {
  width: 95px;
  height: 20px;
  padding: 1vh 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 7px;
  z-index: -1;

  /* border: 1px solid red; */
}
.django-rest {
  margin: 0 2vh;
  position: relative;
}
.django-rest img {
  width: 120px !important;
}

.book-desc {
  font-weight: 300;
  margin: 2vh 2vh 2vh 0;
  white-space: pre-wrap;
  font-size: 20px;
}
.langugae-div .book-desc {
  margin: 0 2vh 0 0;
}

.problem-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.problem-div p:nth-child(2) {
  white-space: pre-wrap;
  line-height: 5vh;
}

.address {
  text-decoration: none;
  font-size: 2vh;
  font-weight: 300;
  border: 1.5px solid #776B5D;
  padding: 1vh 2vh;
  border-radius: 25px;
  transition: 0.2s;
  color:  #776B5D;
  margin-right: 1vh;
  background-color: #F3EEEA;
}
.address:visited {
  color: #776B5D;
  border: 1.5px solid #F3EEEA;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 4vh 2vh 3vh 0;
}
.book-card-desc {
  font-size: 1.5vh !important;
  margin: -2vh 2vh 8vh 0;
}
.github-icon img {
  width: 40px;
  opacity: 0.6;
}
.notice {
  font-size: 20px !important;
  margin-top: 5px;
}

.address:hover {
  background-color: #776B5D;
  color:#F3EEEA;
}
.github-icon img:hover {
  opacity: 1;
}

.top-button {
  z-index: 100;
  position: absolute;
  bottom: 4vh;
  right: 3.5vh;

  font-size: 3vh;
  padding: 1vh 2vh;
  border-radius: 25px;
  background-color: #776B5D;
  color: #EBE3D5;
  border: 1px solid #776B5D;

  transition: 0.2s;
}
.top-button:hover {
  background-color: #EBE3D5;
  color: #776B5D;
  border: 1px solid #776B5D;
}

/* bold */
.bold {
  font-weight: 500 !important;
}

.book-top-desc {
  margin-bottom: 4vh;
}

/* book role */
.book-role {
  position: relative;
  margin-bottom: 4vh;
}
.book-role p {
  color: #776B5D;
}

/* book works */
.book-works img {
  width: 70%;
}
.book-works {
  margin: 4vh 0;
}
.book-works p:last-child {
  display: inline-block;
  color:#776B5D;
  margin-left: 1vh;
}

/* book poso */
.book-poso {
  font-weight: 300;
  font-size: 24px !important;
  line-height: 5vh;
  margin-right: 2vh;
}
.book-poso-container {
  background-color: rgba(119, 107, 93, 0.7);
  z-index: -1;
  color:#F3EEEA;
  padding: 3vh;
  mask-image: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 8%);
  -webkit-mask-image: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 8%);
}

/* book works imgs */
.quit-works-imgs {
  margin: 2vh 0 3vh 0;

  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  place-items: center;
}
.small {
  font-size: 18px !important;
  margin: 1vh 0 1vh 0;
}
.quit-works-imgs img {
  width: 90%;
}

/* title */
.title {
  position: relative;
  display: inline-block;
  width: 100%;
}
.highlight1 {
  background-color: #C5D3E8;
  position: absolute;
  bottom: 1vh;
  right: 0;
  height: 2.5vh;
  width: 6.3em;
  z-index: -1;

  margin-right: 2vh;
}
.highlight2 {
  background-color: #C5D3E8;
  position: absolute;
  bottom: 1vh;
  right: 0;
  height: 2.5vh;
  width: 5.2em;
  z-index: -1;

  margin-right: 2vh;
}

/* book-bottom */
.book-bottom {
  background-color: rgba(119, 107, 93, 0.7);
  z-index: -1;
  color:#F3EEEA;
  padding: 6vh 3vh 3vh 3vh;
  position: relative;
  margin-top: 3vh;

  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%);
  -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%);
}